body {
    font-family: sans-serif;
    font-size: 90%;
    max-width: 85%;
    margin-left: 12.5%;
    background-color: rgba(138, 112, 231, 0.445);
}

.header-home {
    border-bottom: 2px solid #357ebd;
    margin-bottom: 2em;
}

.navbar-brand {
    display: inline-block ;
    text-indent: -9999px;
    width: 90px;
    background: url(../img/brandLogo.jpg) center no-repeat;
    aspect-ratio: 16/9;
}