body {
    font-family: sans-serif;
    font-size: 90%;
    max-width: 85%;
    margin-left: 12.5%;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFDAB9), to(#FFA500)) fixed;
}

.header-home {
    border-bottom: 2px solid #357ebd;
    margin-bottom: 2em;
}

.navbar-brand {
    display: inline-block ;
    text-indent: -9999px;
    width: 110px;
    background: url(../img/Loghi/logoCinema-removebg-preview.png) center no-repeat;
    aspect-ratio: 16/9;
}


.img-card-1 {
    display: inline-block ;
    text-indent: -9999px;
    width: 50%;
}